#ageCheckContainer{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

#ageCheckContainer h4{
  font-family: 'Montserrat', sans-serif;
  /* margin-bottom: 1em; */
  color: black;
  /* margin-bottom: 0.75em; */
}

#ageCheckContainer p, a{
  font-family: 'Lato', sans-serif;
}

#ageCheckContainer p{
  margin-bottom: 0.5em;
}

#dim-background {
  /* background-color: #0B205F; */
  background-color: darkgrey;
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  opacity: 0.9;
  /* transition: opacity, 0s; */
}

#ageCheckContainer .btn{
  border-radius: 0px !important;
  background-color: white !important;
  color: black;
  border: 1px solid black;
  /* text-transform: uppercase; */
}

.over-18-button{
  border-radius: 0px !important;
  background-color: white !important;
  color: black;
  border: 1px solid black;
  justify-content: center;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  text-align: center;
}

.over-18-button:hover{
  text-decoration: none !important;
  color: white !important;
  background-color: black !important;
  border: 1px solid white;
}


.over-18-button-inactive{
  color: grey;
  border: 1px solid grey;
}

.over-18-button-inactive:hover{
  cursor: auto;
  /* display: none !important; */
  color: grey !important;
  background-color: white !important;
  /* border: 1px solid black; */
  border: 1px solid grey;

}

#pop-up-container{
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto
}



.modal-dialog1 {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none
}

.modal-content1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  outline: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

}

@media (min-width:576px) {
  .modal-dialog1 {
    max-width: 500px;
    margin: 1.75rem auto
  }
}
