/* .stockist-list-nudge{
  margin-top: 0.85rem;
  padding-bottom: 0.15rem;
} */


.stockist a{
  text-decoration: underline;
}

.region-header {
  /* background-color: pink; */
  margin-top: 1rem;
}

.stockist-expand {
  /* vertical-align: text-bottom; */
  /* background-color: green; */
}
