---
layout: default
title: Example
description: Boutique sake, umeshu (plum wine) and Japanese spirits, available in NZ. Crafted in Wakayama, Japan.
---

<div class="row mt-2 mt-sm-2 mt-xxl-3">
  <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
    <h1>Example heading</h1>
  </div>
</div>
<div class="row mt-xl-1 mt-xxl-2">
  <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5 order-2 order-md-1">

    {% for product in site.data.products.skus %}
      {% if product.category == 'sake' %}
        {{ product.name }}
      {% endif %}
    {% endfor %}
    <br>
    {% assign product1 = site.data.products.skus | find :"name","umeshu" %}
    {{ product1.preview-text }}
  </div>
</div>
