---
layout: default
title: Products
description: Nakano BC's range of sake, umeshu (plum wine) and spirits available in NZ.
---

      <div class="row">
        <div class="col">
          <h1>Products</h1>
        </div>
      </div>

      {% for category in site.data.product-categories.categories %}
        <div class="row product-header">
          <div class="col">
            <h4 id="{{ category.categoryName }}">{{ category.categoryName | capitalize }}</h4>
          </div>
        </div>

        <div class="row product-selection">
          {% for product in site.data.products.skus %}
            {% if product.category == category.categoryName %}
            <div class="col-6 col-md-4 col-lg-3 product-box d-flex flex-column">
              <!-- bottle image -->
              <div>
                <a href="/products/{{ product.category }}/{{ product.url }}"
                 class="bottle" id="{{ product.id }}-bottle">
                  <img src="/static/images/bottle-images/{{ product.imageName }}"
                   alt="{{ product.imageAltName }}">
                </a>
              </div>
              <div class="text-center product-name" id="{{ product.id }}-name">
                <a href="/products/{{ product.category }}/{{ product.url }}"
                 id="{{ product.id }}-link" class="">
                  <div class=" ">
                    {{ product.displayName }}
                  </div>
                </a>
              </div>
              <div class="preview-text">
                <a href="/products/{{ product.category }}/{{ product.url }}">
                  <p class="preview-text-content" style="color: black;"
                   id="{{ product.id }}-text" ">
                    {% assign previewText = product.description | normalize_whitespace %}
                    {{ previewText | truncate: 80 }}
                  </p>
                </a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
