---
layout: default
title: Products
description: Nakano BC's range of sake, umeshu (plum wine) and spirits available in NZ.
---

      <div class="row">
        <div class="col">
          <h1>Products</h1>
        </div>
      </div>

      {% for item in site.data.products.categories %}
      <div class="row product-header">
        <div class="col">
          <h4 id="{{ item.headingID }}" class="">{{ item.category }}</h4>
        </div>
      </div>

      <div class="row product-selection">
        {% for product in item.products %}
        <div class="col-6 col-md-4 col-lg-3 product-box d-flex flex-column">
          <a href="/products/{{ product.url }}" id="{{ product.tag-name }}-bottle" class="bottle">
            <img src="../static/images/bottle-images/{{ product.img-name }}" alt="{{ product.img-alt-name }}">
          </a>
          <a href="/products/{{ product.url }}" id="{{ product.tag-name }}-link" class="product-name">
            <div class="">
              {{ product.name }}
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
