---
layout: default
title: Stockists
---

<div class="row">
  <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5">
    <h1>Stockists</h1>
      <p style="">
        We recommend calling ahead or checking on the retailer's website, to make
        sure they have stock of the product you're looking for.
      </p>
    {% for item in site.data.stockists.regions %}
      <h5 class="">{{ item.region }}</h5>
        <ul>
          {% for store in item.stores %}
            <li class="stockist"><a href="{{ store.url }}" target="_blank">{{ store.name }}</a>
            {% if store.extraText %}
              {{ store.extraText }}
            {% endif %}
            </li>
          {% endfor %}
        </ul>
    {% endfor %}
  </div>
  <div class="col">

  </div>

</div>
