---
layout: default
title: Stockists
description: Retailers of Nakano sake, umeshu (plum wine) and spirits in NZ.
---

<div class="row">
  <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5">
    <h1>Stockists</h1>
      <div class="paras">
        <p style="padding-bottom: 1rem;">
          Please check the retailer's website or call ahead to make
          sure they have stock of the product you're looking for.
        </p>
      </div>
      <div class="paras-spacer"></div>
    {% for item in site.data.stockists.regions %}
      <h5 class="">{{ item.region }}</h5>
      <div class="stockist-list-nudge">
        <ul>
          {% for store in item.stores %}
            <li class="stockist"><a href="{{ store.url }}" target="_blank">{{ store.name }}</a>
            {% if store.extraText %}
              {{ store.extraText }}
            {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
  <div class="col">

  </div>

</div>
