<div class="" id="ageCheckContainer">
  <div class="modal-dialog1">
    <div class="modal-content1">
      <div id="pop-up-container" class="">

        <div class="row">
          <div class="col mb-2 mt-2">
            <h4 style="">Welcome to Nakano NZ</h4>
            <p>You need to be over 18 years old to view Nakano's product range.</p>
            <p>Please confirm your age.</p>
            <p id="u18Warning" style="display: none; color: red;">
              You need to be 18 or older to enter the Nakano Beverages NZ site.
            </p>

          </div>
        </div>
        <div class="row mb-lg-2">
          <div class="col-12 col-lg-6 mb-2 mb-lg-0">
            <a id="over18" class="d-flex over-18-button">I am aged 18+</a>
          </div>
          <div class="col-12 col-lg-6 mb-2 mb-lg-0">
            <a id="under18" class="d-flex over-18-button">I am under 18</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
