<div class="profile-pre-header">
  Profile:
</div>



<div class="row sake-profile sake-scales-nudge-top">
  <div class="col-4 col-sm-3 text-end">
    dry
  </div>
  <div class="col-4 col-md-4 col-lg-4 scales">
  <!-- <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 scales"> -->
    <img src="../../../static/images/scales/smooth-dry/{{ page.smoothDryImage }}" class="img-fluid" alt="">
  </div>
  <div class="col">
    smooth
  </div>
</div>

<div class="row sake-profile">
  <div class="col-4 col-sm-3 text-end">
  <!-- <div class="col-4 col-sm-3 col-xxl-3 text-end"> -->
    light-bodied
  </div>
  <div class="col-4 col-md-4 col-lg-4 scales">
  <!-- <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 scales"> -->
    <img src="../../../static/images/scales/light-bodied-full-bodied/{{ page.bodyImage }}" class="img-fluid" alt="">
  </div>
  <div class="col">
    full-bodied
  </div>
</div>

<div class="row sake-profile sake-scales-nudge-bottom">
  <div class="col-4 col-sm-3 text-end">
    serve
  </div>
  {% if page.serveHot %}
  <div class="col-7 col-sm-5 col-md-6 col-lg-6 col-xxl-7 recommended-temp">
  <!-- <div class="col-7 col-sm-5 col-md-6 col-lg-6 col-xl-6 col-xxl-4 recommended-temp"> -->
  {% else %}
  <div class="col-7 col-sm-5 col-md-6 col-lg-6 col-xxl-7 recommended-temp">
  <!-- <div class="col-7 col-sm-5 col-md-6 col-lg-6 col-xl-6 col-xxl-4 recommended-temp"> -->
  {% endif %}
    <div class="row">
      <div class="col chilled">
        {{ page.chilledTemp }}
      </div>
      {% if page.serveWarm %}
      <div class="col warm">
        {{ page.warmTemp }}
      </div>
      {% else %}
      <div class="col">
      </div>
      {% endif %}
      {% if page.serveHot %}
      <div class="col hot">
        {{ page.hotTemp }}
      </div>
      {% else %}
      <div class="col">
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col">
        chilled
      </div>
      {% if page.serveWarm %}
      <div class="col">
        warm
      </div>
      {% else %}
      <div class="col">
      </div>
      {% endif %}
      {% if page.serveHot %}
      <div class="col">
        hot
      </div>
      {% else %}
      <div class="col">
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col">
  </div>
</div>
