<div class="profile-pre-header">
  Profile:
</div>



<div class="row sake-profile sake-scales-nudge-top">
  <div class="col-4 col-sm-3 text-end">
    dry
  </div>
  <div class="col-4 col-md-4 col-lg-4 scales">
  <!-- <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 scales"> -->
    <img src="/static/images/scales/smooth-dry/{{ product.smoothDryImage }}" class="img-fluid" alt="">
  </div>
  <div class="col">
    smooth
  </div>
</div>

<div class="row sake-profile">
  <div class="col-4 col-sm-3 text-end">
  <!-- <div class="col-4 col-sm-3 col-xxl-3 text-end"> -->
    light-bodied
  </div>
  <div class="col-4 col-md-4 col-lg-4 scales">
  <!-- <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3 scales"> -->
    <img src="/static/images/scales/light-bodied-full-bodied/{{ product.bodyImage }}" class="img-fluid" alt="">
  </div>
  <div class="col">
    full-bodied
  </div>
</div>

<div class="row sake-profile sake-scales-nudge-bottom">
  <div class="col-4 col-sm-3 text-end">
    serve
  </div>
  <div class="col-7 col-sm-5 col-md-6 col-lg-6 col-xxl-7 recommended-temp">
    <div class="row">
      {% if product.serveWarm and product.serveHot %}
      <div class="col chilled">
        {{ product.chilledTemp }}
      </div>
      <div class="col warm">
        {{ product.warmTemp }}
      </div>
      <div class="col hot">
        {{ product.hotTemp }}
      </div>
      {% elsif product.serveWarm %}
      <div class="col chilled">
        {{ product.chilledTemp }}
      </div>
      <div class="col warm">
        {{ product.warmTemp }}
      </div>
      <div class="col">
      </div>
      {% elsif product.serveHot %}
        <div class="col chilled">
          {{ product.chilledTemp }}
        </div>
        <div class="col hot">
          {{ product.hotTemp }}
        </div>
        <div class="col">
        </div>
      {% else %}
      <div class="col chilled">
        {{ product.chilledTemp }}
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
      {% endif %}
    </div>

    <div class="row">
      {% if product.serveWarm and product.serveHot %}
      <div class="col">
        chilled
      </div>
      <div class="col">
        warm
      </div>
      <div class="col">
        hot
      </div>
      {% elsif product.serveWarm %}
      <div class="col">
        chilled
      </div>
      <div class="col">
        warm
      </div>
      <div class="col">
      </div>
      {% elsif product.serveHot %}
        <div class="col">
          chilled
        </div>
        <div class="col">
          hot
        </div>
        <div class="col">
        </div>
      {% else %}
      <div class="col">
        chilled
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col">
  </div>
</div>
