.alc-content{
    font-size: 0.75em;
    margin-top: 1.18rem;
    padding-bottom: 0.32rem; 
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .btl-img{
    margin-top: 3rem;
    margin-bottom: 0rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .desktop-header{
    padding-bottom: 1rem;
  }
  h3{
    margin-top: 0rem;
    padding-bottom: 0rem;
  }
  .btl-img{
    margin-top: 3rem;
    padding-bottom: 1.0rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 1200px) and (max-width: 1400px) {
  .desktop-header{
    padding-bottom: 1rem;
  }
  h3{
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}


@media (min-width: 1400px) {
  .desktop-header{
    /* padding-top: 2rem; */
    padding-bottom: 1rem;
  }
  h3{
    margin-top: 2rem;
    padding-bottom: 0rem;
  }
}
