---
layout: default
---

<div class="row">
  <div class="col mt-md-3 mt-xl-2">
    <h3>{{ page.header }}</h3>
  </div>
</div>

<div class="row mt-3 mb-2 mb-lg-3 mb-xxl-5">
  <div class="col-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6" style="background-color: none;">
    {{ page.content }}
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="row">
      {% for product in page.products %}
        <div class="col-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2 product-box d-flex
         flex-column mb-4 mt-5 border-bottom">

          <div class="">
            <a href="../../products/{{ product.categoryName }}/{{ product.url }}"
             id="{{ product.tag-name }}-bottle" class="bottle" target="_blank">
              <img src="../../static/images/bottle-images/{{ product.img-name }}" alt="{{ product.img-alt-name }}">
            </a>
          </div>

          <div class="product-name" style="" id="{{ product.tag-name }}-name">
            <a href="/products/{{ product.categoryName }}/{{ product.url }}"
             id="{{ product.tag-name }}-link" class=""
             target="_blank">
                {{ product.name }}
            </a>
          </div>

          <div class="preview-text ">
            <a href="/products/{{ product.categoryName }}/{{ product.url }}"
             target="_blank">
              <p class="preview-text-content" style="color: black;"
               id="{{ product.tag-name }}-text" ">
                {{ product.preview-text }}
              </p>
            </a>
          </div>
          <div class="price mt-auto">
            <span class="">{{ product.price }}</span>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
</div>
<div class="row">
  <div class="col mt-3 mb-5" style="font-size: 0.8rem;">
    <br>
    * {{ page.disclaimer }}
  </div>

</div>
