---
layout: default
---

<div class="row">
  <div class="col product-dir">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/products/">products</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/products/#{{ page.productType }}">{{ page.productType }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ page.name }}</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>{{ page.header }}</h3>
  </div>
</div>

<div class="row">

  <div class="col-12 col-md-8 col-lg-6 col-xl-5 col-xxl-4 order-2 order-md-1">
  <!-- <div class="col-12 col-md-8 col-lg-6 order-2 blurb"> -->
    <div class="row">
      <div class="col nudge" style="">
        <div class="paras">
          {{ page.content }}
        </div>
        <div class="paras-spacer"></div>


        {% if page.hasAwards %}
        <div class="awards-container">
          Awards:
          <ul class="">
            <li>{{ page.awardName }}</li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    {% if page.productType == 'sake' %}
    <div class="row">
      <div class="col-12 col-sm-12 col-md-11 col-lg-11" style="">
      {% include sake_insert.html %}
      </div>
      <div class="col">
      </div>
    </div>
    {% endif %}
    <div class="row" style="">
      <div class="col alc-content">
        {{ page.volume }}, {{ page.alcoholContent }} alc/vol.
      </div>
    </div>
  </div>

  <div class="col col-sm-12 col-md-4 col-lg-4 d-flex align-items-start btl-img
   justify-content-center order-1 order-md-2">
    <img src="../../../static/images/bottle-images/{{ page.productImage }}"
     alt="{{ page.image-alt }}" class="pl-0 ml-0" id="product-img">
  </div>
  <div class="col order-3" style="">

  </div>

</div>
