---
layout: default
---

{% assign product = site.data.products.skus | find: "id", page.name %}

<div class="row">
  <div class="col">
    <h3 class="shop-header">{{ product.displayHeader }}</h3>
  </div>
</div>

<div class="row">

  <div class="col-12 col-md-8 col-lg-6 col-xl-5 col-xxl-4 order-2 order-md-1">
  <!-- <div class="col-12 col-md-8 col-lg-6 order-2 blurb"> -->
    <div class="row">
      <div class="col nudge" style="">
        <div class="paras">
          {{ product.description | markdownify }}
        </div>
        <div class="paras-spacer"></div>


        {% if product.hasAwards %}
        <div class="awards-container">
          Awards:
          <ul class="">
            <li>{{ product.awardName }}</li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    {% if product.category == 'sake' %}
    <div class="row">
      <div class="col-12 col-sm-12 col-md-11 col-lg-11" style="">
      {% include sake_insert.html %}
      </div>
      <div class="col">
      </div>
    </div>
    {% endif %}
    <div class="row" style="">
      <div class="col alc-content">
        {{ product.volume }}, {{ product.alcoholContent }} alc/vol.
      </div>
    </div>
  </div>

  <div class="col col-sm-12 col-md-4 col-lg-4 btl-img order-1 order-md-2 text-center">
    <div class="">
      <img src="/static/images/bottle-images/{{ product.imageName }}"
       alt="{{ product.imageAltName }}" class="pl-0 ml-0 img-fluid" id="product-img">
    </div>
     <div class="shop-price">
       {{ page.price }}
     </div>
     <div class="shop-retailer">
       at <a href="{{ page.storeUrl }}" target="_blank">{{ page.store }}</a>
     </div>
  </div>
  <div class="col order-3" style="">

  </div>

</div>
